.menudemoBasicUsage .md-menu-demo {
    padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
    min-height: 200px; }

.header-content .header-content-inner .btn {
    padding-bottom: 15px;
}

.fill {
    display: inline-block;
    height: 60px;
}
.full-white {
    color: #000000 ;
    background-color: #ffffff;
    width: 100%;
}

.about {
    padding-top: 20px;
    width: 20%;
}

.modal-backdrop.in {
    opacity: 0.8;
}

#modalImagesContent {
	background-size: 100% 100%;
}

#modalImagenes{
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
}

#modalImagesTitle{
	text-align: right;
	color: White;
}


#modalImagesBody{
	color: rgb(255, 255, 255);
	text-align: justify;
	min-height:90%;
	max-height:90%;
	height:90%;
	overflow-y: hidden;

}

#modalImagesBodyP{
	min-height: 50%;
	margin: 25%;
	max-height: 50%;
	overflow-y: auto;
    
}

.bg-footer {
    color: black;
    background: white;
}

.opensans {
    font-family: "Open Sans";
    color: white;
}

#customers {
    height: auto;
}

.modal-text {
    display: none;
}

#modalImagesHeader{
    min-height: 10%;
}