.menudemoBasicUsage .md-menu-demo {
    padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
    min-height: 200px; }

.header-content .header-content-inner .btn {
    padding-bottom: 15px;
}

.full-white {
    color: #000000 ;
    background-color: #ffffff;
    width: 100%;
}

.about {
    padding: 20px;
    width: 30%;
}

.bg-footer {
    background: #3D6BAD;
}

#customers {
    height: auto;
}