.menudemoBasicUsage .md-menu-demo {
    padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
    min-height: 200px; }

.header-content .header-content-inner .btn {
    padding-bottom: 15px;
}

.full-white {
    color: #000000 ;
    background-color: #ffffff;
    width: 100%;
}

.about {
    padding: 20px;
}

.modal-backdrop.in {
    opacity: 0.8;
}

#modalImagesContent {
	background-size: 100% 100%;
}

#modalImagenes{
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
}

#modalImagesTitle{
	text-align: right;
	color: White;
}

#modalImagesBody{
	color: rgb(255, 255, 255);
	text-align: justify;
	padding-left: 20%;
	padding-right: 20%;
}